<h2>Set up a new event here.</h2>
<%= form_for(@period, html: {id: :new_period}) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :expiration, "Enter a number of weeks from 1-8 that you'd like the event to go on for." %><br>
    <%= f.number_field :expiration %>
  </div>
  <div class="field">
    <%= f.label :price_limit %><br>
    <%= f.number_field :price_limit %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit a new event.'%>
  </div>
<% end %>

<div id="periodResult">
  <h2 id="periodTitle"></h2>
  <p id="periodExpiration"></p>
</div>




<% @periods.each do |period| %>

  <% if period.users.include?(current_user) %>
    <a href="/periods/<%=period.id%>">You're already part of <%= period.title %>.</a>
    <br>
  <% else %>
    <button class="js-more" data-id="<%= period.id %>" data-type="<%=current_user.id%>">Click here to join <%=period.title%>.</button>
  <br>
  <% end %>
  <br>
<% end %>

<div class="newLinks">

</div>

<script type="text/javascript" charset="utf-8">

  $(function() {

    debugger;

    $(".js-more").on("click", function(event) {

      var id = $(this).data("id");
      var user = $(this).data("type");
      $.ajax({
        type: "POST",
        url: '/period_users',
        data: {'period_id': `${id}`, 'user_id': `${user}`}
      }).then(function(response){
        $(`[data-id=${response.id}]`).hide();
        $('.newLinks').append(`<a href="/periods/${response.id}">You're already part of ${response.title}.</a>`);
        alert("Successfully joined this period!");

      });
    });


    $('#new_period').submit(function(event) {
      //prevent form from submitting the default way

      event.preventDefault();

      var values = $(this).serialize();

      var posting = $.post('/periods', values);

      posting.done(function(data) {
        var period = data;
        var idi = period["id"];
        var title = period["title"];
        // debugger;
         $("#periodTitle").text(period["title"]);
         $("#periodResult").append(`<a href="/periods/${idi}">${title}</a>`);

        $("#periodExpiration").text(period["expiration"] + " weeks left.");
      });
    });

  });

</script>
