<h1><%=@period.title%></h1>
  <br>
  <h2>Here are the users who are participating in this event.</h2>
<div class="users">

<% @period.users.each do |u| %>

  <% if u != current_user %>

  <div id="gifts_<%=u.id%>">
    <% if !u.prospects.empty? %>
    <h4>Gift suggestions for <%=u.name%>.</h4>
        <% u.prospects.each do |gift| %>
          <button type="button" class="prospectShow" data-gift="<%=gift.id%>"><%=gift.description%></button>
            <div class="prospectData" data-prospect="<%=gift.id%>">

              <a href="<%=gift.link%>" target="_blank">Here is a link to <%=gift.description%> which is <%=gift.price%> dollars.</a>

            </div>
        <% end %>
    <% end %>
  </div>


  <h4 class="name" data-id="<%=u.id%>">Add a gift for <%= u.name %>.</h4>
    <div class="js-get" data-user="<%=u.id%>">

      <div id="hide_here_<%=u.id%>">

      <%= form_for(@gift, html: {class: :new_gift}) do |f| %>
        <div class="field">
          <%= f.label :link %><br>
          <%= f.text_field :link %>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </div>
        <div class="field">
          <%= f.label :price %><br>
          <%= f.number_field :price %>
        </div>
        <div class="field">
          <%= f.hidden_field :user_id, :value => current_user.id %>
        </div>
        <div class="field">
          <%= f.hidden_field :recipient_id, :value => u.id %>
        </div>
        <div class="actions">
          <%= f.submit 'Submit a new gift.'%>
        </div>
      <% end %>
      </div>




    </div>
  <% else %>
    <h4>And you...</h4>
  <% end %>


  <br>
<% end %>

</div>
<br>
<br>

<% if !@period.users.include?(current_user) %>
  <button class="js-more" data-id="<%= @period.id %>" data-type="<%=current_user.id%>">Click here to join this event.</button>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-get").hide();

    $('.prospectData').hide();

    $('.name').on("click", function() {
      var id = $(this).data("id");
      $(`[data-user=${id}]`).show();

    })


    $(".js-more").on("click", function(event) {

      var id = $(this).data("id");
      var user = $(this).data("type");
      $.ajax({
        type: "POST",
        url: '/period_users',
        data: {'period_id': `${id}`, 'user_id': `${user}`}
      });
    });

    $(".new_gift").submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post("/gifts", values);
      // debugger;
      posting.done(function(response){
        // var gift = new Gift(response)
        // gift.appendToPage()
        $(`#gifts_${response.recipient_id}`).append(`<button type="button" class="prospectShow" data-gift="${response.id}">${response.description}</button>`);

      })
    });

    $('.prospectShow').on("click", function() {
      var id = $(this).data("gift");
      $(`[data-prospect=${id}]`).show();
    });

  });

  // class Gift(){
  //   constructor(response){
  //     this.description = response.description
  //   }
  //
  //   appendToPage(){
  //
  //   }
  // }
  // Gift.prototype.appendToPage = function(){
  //   some stuff
  // }
</script>
