<div class="userId" data-permanent="<%=current_user.id%>"></div>

<% if current_user.name == nil %>

  <h2>Looks like you have some info to fill out to get started.</h2>
  <%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :profile, 'Picture link (use direct image link)' %><br>
      <%= f.text_field :profile %>
    </div>
    <div class="actions">
      <%= f.submit 'Update your info'%>
    </div>
  <% end %>

<% else %>

  <h1>Welcome to Secretest Santa <%=current_user.name%>, hope you get some awesome presents!</h1>
  <br>
  <% if current_user.profile %>
    <img id="hi" src="<%=current_user.profile%>" alt="profile_picture" height="64" width="64">
  <% end %>

<% end %>

<h2>Set up a new event here.</h2>
<%= form_for(@period, html: {id: :new_period}) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :expiration, "Enter a number of weeks from 1-8 that you'd like the event to go on for." %><br>
    <%= f.number_field :expiration %>
  </div>
  <div class="field">
    <%= f.label :price_limit %><br>
    <%= f.number_field :price_limit %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit a new event.'%>
  </div>
<% end %>

<div id="periodResult">
  <h2 id="periodTitle"></h2>
  <p id="periodExpiration"></p>
</div>

  <div class="adjustedPeriods">
    <h2>Other events:</h2>

  </div>
